.button{
    display: inline-block;
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
    text-align: center;
    transition: all, .3s;
    
    &:hover{
        background-color: white;
        color: #000;
    }
    
    &--full{
        background-color: #fff;
        color: #000;
        transition: all, .3s;

        &:hover{
            background-color: transparent;
            color: #fff;
        }
    }
}