.cast{
    padding-top: 40px;


    &__images{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 40px 20px 0;
        img{
            width: 45%;
        }
    }

    @media (max-width:768px){
        &__images{
            flex-direction: column;
            img{
                width: 100%;
            }
        }
    }

}