.more-about{
    padding-top: 40px;

    .container{
        display: flex;
        align-items: center;
    }

    &__image{
        height: 80vh;
    }

    &__texts{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px 80px;
        line-height: 26px;
    }

    @media (max-width: 768px){

        .container{
            flex-direction: column-reverse;
        }
        &__image{
            height: fit-content;
            width: 100%;
        }
    }
}